<!-- Footer -->
<footer class="bg-dark text-center text-white" style="background-color: #003246 !important;">
    <!-- Grid container -->
    <div class="container p-4">
  
  
      <!-- Section: Text -->
      <section  >
      <img src="img/store/SG_logo.png" alt="logo footer studios Ghibli" style=" max-width: 200px;width: 100%;">
     <br><br>
      <p style="text-align: center; max-width: 100%; ">
        “Si alguien me preguntara qué es lo más importante cuando se crea un nuevo trabajo de animación, mi respuesta sería que primero tienes que saber lo que quieres decir con él. En otras palabras, tienes que tener un tema. Sorprendentemente, tal vez, la gente a veces pasa por alto este hecho básico de la cinematografía y en cambio pone demasiado énfasis la técnica” - libro de memorias de Miyazaki
      </p>
      <div class="row">
        <div class="col-lg-3 col-md-3 mb-3 mb-md-0">&nbsp;</div>
        <div class="col-lg-6 col-md-6 mb-6 mb-md-0">
          <div class="row">
            <div class="col"><a href="https://www.facebook.com/FansOfStudioGhibli" target="_blank"><img src="img/facebook.png" alt="facebook" class="img-fluid" style="width: 50px;" ></a></div>
            <div class="col"><a href="https://www.instagram.com/studio_ghiibli/" target="_blank"><img src="img/instagram.png" alt="Instagram" class="img-fluid " style="width: 50px;" ></a></div>
            <div class="col"><a href="https://twitter.com/GhibliUSA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="img/twitter.png" alt="Twitter" class="img-fluid " style="width: 50px;" ></a></div>
             </div>     
        </div>
        <div class="col-lg-3 col-md-3 mb-3 mb-md-0">&nbsp;</div>
        </div>
    </section>
      <!-- Section: Text -->
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-6 mb-md-0">
            <h5 class="text-uppercase">Studios Ghibli</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#somos" class="text-white">Quiénes somos</a>
              </li>
              <li>
                <a href="#films" class="text-white">Nuestros proyectos</a>
              </li>
              <li>
                <a  href="#premios" class="text-white">Premiso</a>
              </li>
              <li>
                <a href="#contactenos" class="text-white">Contácteno</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-6 mb-md-0">
            <h5 class="text-uppercase">Tienda</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Nuestros productos</a>
              </li>
              <li>
                <a href="#!" class="text-white">Politicas de envios</a>
              </li>
              <li>
                <a href="#!" class="text-white">Proteccion datos</a>
              </li>

            </ul>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright: Erika Castillo
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->